{% include "layout.html" %}

{% block content %}
<div class="container">
    <h1>ABOUT US</h1>
    <hr class="border border-success border-2 opacity-50">
    <div>
        <h2>株式会社BIGGUJP</h2>
        <p><br>Business related to Autotrade Crypto on Binance Global.</p>
            <ul>
            <li>
            <p>Mr.Pornchai Chityuenyong</p> 
            <p>(ポンチャイ チットイェンヨンッグ)</p> 
            <p>President</p> 
            <p>(会長)</p> 
            </li>
            </ul>
      </div>

</div>
{% endblock %}